<div class="tabs">
  <a class="tab <%= active === 'orders' ? 'tab--active' : '' %>" href="/admin/orders">Заказы</a>
  <a class="tab <%= active === 'products' ? 'tab--active' : '' %>" href="/admin/products">Товары</a>
</div>
