<%- include("../partials/head") %>
<%- include("../partials/header") %>

<main class="container section">
  <div class="card pad">
    <h1 class="h1">404</h1>
    <p class="muted">Страница не найдена.</p>
    <a class="btn" href="/">На главную</a>
  </div>
</main>

<%- include("../partials/footer") %>
<%- include("../partials/tail") %>
